<%- include('./layouts/head.ejs') %>
		<div class="wrapper" id="pg-login">
			<div class="row">
				<%- include('./layouts/background.ejs') %>
				<div class="form">
					<div class="wrap">
                        <div class="welcome">
                            <% if( errtype === "invalid-link" ) { %>
                                <h2>Invalid Reset Link!</h2>
                            
                                <p>
                                  The link you entered is Invalid. Please request for a new <a href="/auth/passwordreset">password reset link</a>
                                </p>
                            <% } %>

                            <% if (errtype === "expired-link") { %>
                                <h2>Expired Reset Link!</h2>
                            
                                <p>
                                  The link you entered has Expired. Please request for a new <a href="/auth/passwordreset">password reset link</a>
                                </p>
                            <% } %>
                            
						</div>

						<div class="form-links">
							<a href="<%= globals.auth_path.login %>">Go back to login page</a>
						</div>
                             <br>
                             <br>
						<div class="image" style="margin-top: 20px">
							<a href="https://longbottondev.io">
								<img
									src="/login/images/2.jpg"
									style="width: 150px; height: 100px"
									alt=""
								/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('./layouts/footer.ejs') %>
