<%- include('./layouts/head.ejs') %>
		<div class="wrapper" id="pg-login">
			<div class="row">
				<%- include('./layouts/background.ejs') %>
				<div class="form">
					<div class="wrap">
						<div class="welcome">
							<h2>Check Your Mail</h2>
							<p>
								A password reset link has been sent to your mail
								<br>
								Link will expire after 24 hours
							</p>


							<h3>
							   
							</h3>
							<p>
							</p>
						</div>

						<div class="form-links">
							<a href="<%= globals.auth_path.login %>">Go back to login page</a>
						</div>
                             <br>
                             <br>
						<div class="image" style="margin-top: 20px">
							<a href="https://longbottondev.io">
								<img
									src="/login/images/2.jpg"
									style="width: 150px; height: 100px"
									alt=""
								/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('./layouts/footer.ejs') %>
