<div class="modal-wrapper hid">
	<div class="modal">
		<div class="modal-head">
			<h5 class="modal-title">Enter OTP code</h5>
			<button type="button" class="close">
				<span>×</span>
			</button>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-shy">Cancel</button>
			<button type="button" class="btn btn-sm btn-primary">Resend OTP</button>
		</div>
	</div>
</div>

<!--  -->

<div class="form-btn-loader-flex">
    <button type="submit">Verify</button>
    <span id="loader" class="loading hidden">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </span>
    <span id="process-tracker" class="loading hidden">
        Verifying Email
    </span>
</div>