<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">Upload resume</h5>
    <input type="file" id="selectResume" />
    <button class="mt-1 btn btn-primary" type="button" onclick="uploadResume()">
      Submit
    </button>
    <br />
    <br />
    <hr />
  </div>
</div>

<!-- Component Based Javascript -->
<script>
  async function uploadResume() {
    const fileInput = document.getElementById("selectResume");
    const file = fileInput.files[0];
    const formdata = new FormData();
    formdata.append("resume", file);

      const url = '/api/resume/';

      const xhr =  new XMLHttpRequest();
      xhr.onload = function(){
        let response = JSON.parse(this.responseText);

        if(this.status < 399){
          alert("resume uploaded");
          loadPage();
        }
        else alert(response.message);
      }

      xhr.open("POST", url);
      xhr.send(formdata);
  }

   

</script>
