<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Error</title>
  </head>
  <body>
  </body>
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Longbotton-portfolio | Set Up Administration</title>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/errors.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="row">
        <div
          class="background"
          id="unsplash-background"
          style="
            background-image: url(https://images.unsplash.com/photo-1508138221679-760a23a2285b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
            background-image: url(https://images.unsplash.com/photo-1639509318163-dda65807ffe9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=391&q=80);
            background-image: url(https://images.unsplash.com/photo-1600977961065-4c41f95a32a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGxvc3R8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60)
            "
        >
          <div class="-eye-care-overlay"></div>
          <div class="wrap">
            <div class="branding">
              <span
                class="iconify"
                data-icon="dashicons:admin-home"
                data-inline="false"
              ></span
              ><span
                class="iconify"
                data-icon="dashicons:admin-home"
                data-inline="false"
              ></span>
              <h2>Longbotton Dev</h2>
              <p>Copyright 2021 &copy; Personal Portfolio v.1.0</p>
            </div>
          </div>
        </div>
        <div class="error-content" style="width:700px !important">
          <div class="wrap">
            <div class="error-message">
              <h2><%= error.status %></h2>
            </div>
            <div class="error-description">
              <h2><%= message %></h2>
               <%= error.stack %>
            </div>
            <div class="error-action">
              <span class="home-link">
                <span class="iconify" data-icon="fa-solid:home"></span>
                <a href="/">Go back to homepage</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

