section#clients-say {
	background: var(--cl-white);
	padding: 5em 0;
}
section#clients-say > * {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

section#clients-say .section-heading {
	margin: 0 auto;
	text-align: center;
}

section#clients-say .comments .carousel-container {
	width: 100%;
	padding: 0.5em;
	/* border: 5px solid blue; */
	overflow: hidden;
}
section#clients-say .comments .carousel-slider {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: auto;
	/* border: 5px solid red; */
	/* padding: 1em; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

section#clients-say .comments .comment {
	margin: 1em;
	padding: 1em;
	display: inline-block;
	min-width: 300px;
	-webkit-box-shadow: 0 0 3px rgb(60 72 88 / 15%) !important;
	box-shadow: 0 0 3px rgb(60 72 88 / 15%) !important;
	border: none;
}
section#clients-say .comments .comment .designation {
	color: var(--cl-gray-dark);
}

.comment .comment-user-dp img {
}

.comment .comment-user-dp img {
	width: 5rem;
	height: 5rem;
	-webkit-box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%),
		0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%) !important;
	box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%),
		0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%) !important;
	border-radius: 50%;
}

/* section#clients-say .carousel {
	width: 900px;
	margin: auto;
	border: 5px solid red;
	padding: 1em;
} */
