section#hero {
	display: block;
	padding: 10px;
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	background: rgb(2, 7, 21);
}
section#hero > * {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

section#hero div.overlay {
	background-color: rgba(60, 72, 88, 0.7);
	background-color: rgba(60, 72, 88, 0.771);
	/* background-color: rgba(60, 72, 88, 0.9); */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

section#hero div.content {
	/* min-height: 500px; */
	margin-top: 100px;
	margin-bottom: 100px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

section#hero div.content img.image-dp {
	height: 150px;
	max-width: 100%;
	border: 5px solid #dee2e6;
	border-radius: 50% !important;
}

section#hero div.content .heading {
	font-size: var(--fs-lg);
	margin-top: 0.5em;
}
section#hero div.content .designation {
	font-size: var(--fs-sm);
	font-weight: var(--fw-400);
	margin-top: 0.15em;
}

section#hero div.content section#hero-btn {
	margin-top: 1.5rem;
}

section#hero div.content > * {
	position: relative;
	text-align: center;
	margin: 10px auto;
}

@media screen and (min-width: 480px) {
	section#hero {
		padding: 2em;
	}
	section#hero div.content {
		/* min-height: 550px; */
		margin-top: 70px;
		margin-bottom: 100px;
	}
	section#hero div.content img.image-dp {
		height: 200px;
	}
}
@media screen and (min-width: 768px) {
	section#hero {
		background-attachment: fixed;
		background-attachment: scroll;
	}
	section#hero div.content {
		/* min-height: 600px; */
		/* margin-top: 150px; */
	}
	section#hero div.content img.image-dp {
		height: 250px;
	}
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}

/* Mutate For Animations */
