body{
	scroll-behavior: smooth;
}

input.bordered,
textarea.bordered {
	border: 1px solid #e6e6e6;
	background: #f2f2f2b1;
	color: #333333;
}
input.form-control.bordered,
textarea.bordered {
	border: 1px solid #7993d57f;
	background: rgba(249, 249, 249, 0.873);
	border: none;
	box-shadow: 0 0 1px 1px #a5b3d57f;
}

input.form-control.bordered:focus,
textarea.bordered:focus {
	box-shadow: 0 0 1px 2px #3f6ad838;
	background: #fff;
}

.expertise-elem > .expertise-eleme-child.btn-secondary {
	color: #fff;
	background-color: #f4f4f4;
	border-color: #a1c7e8b8;
}

.expertise-elem:hover > .expertise-eleme-child.btn-secondary,
.expertise-elem.active > .expertise-eleme-child.btn-secondary {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}

span.tag {
	display: inline-block;
	color: #3f6ad8;
	padding: 2px 5px;
	border: 1px solid #3f6ad854;
	border-radius: 4px;
	margin: 3px;
	cursor: pointer;
	background: #fff;
	font-weight: 400;
	transition: all 0.2s ease-in-out;
}

span.tag.active,
span.tag:hover {
	background: #3f6ad8c8;
	color: #fff;
}

input:disabled,
button:disabled {
	cursor: not-allowed;
	opacity: 0.75;
}

.pointer {
	cursor: pointer !important;
}

.no-border {
	border: none !important;
	border-color: rgba(0, 0, 0, 0);
}

.table,
.table thead,
.table th,
.table tr {
	border: none !important;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

select {
	margin-left: 5px;
	width: 150px;
	border: 1px solid rgba(204, 204, 204, 0.438);
	border: 1px solid #0d1b3e3a;
	background: rgb(255, 255, 255);
	border-radius: 3px;
	padding: 3px 5px;
	outline: none;
}

.action-buttons {
	display: flex;
}
.action-buttons .action-button {
	font-size: 19px;
	display: inline-block;
	display: flex;
	width: 45px;
	height: 45px;
	margin: 5px;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(204, 204, 204, 0.383);
	border-radius: 50%;
	cursor: pointer;
	opacity: 0.751;
}
.action-buttons .action-button:hover {
	opacity: 0.91;
}
.action-buttons .action-button:active {
	opacity: 1;
}

.vertical-nav-menu.metismenu li a {
	text-transform: capitalize;
}

/* Resume */
.resume--holder{
	margin-bottom: 20px;
	min-width: 240px;
}

.resume--holder .widget-content-wrapper{
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	background: white;
	border-radius: 5px;
	border: 1px solid #e7e3e39d;
}

.resume--holder.active .widget-content-wrapper {
	box-shadow: 2px 2px 10px rgba(0,0,0,.079);
	border: 1px solid #e7e3e3;

}

.resume--holder.active .widget-content-wrapper .widget-content-left {
	opacity: 1;
}

.resume--holder .widget-content-wrapper .widget-content-left {
 opacity: .47;
}

.resume-loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Service */


