nav {
    /* background: #fff !important; */
}
section.project-hero{
    height: 100px !important;
    background-color: rgb(2, 2, 2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(20%);
    padding: 0;
}

div.project-heading {
   margin-bottom: 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

div.project-heading .project-title {
    /* font-size: var(--fs-md); */
    font-weight: var(--fw-600);
}

.project-heading  .links {
    display: flex;
    font-size: var(--fs-md);
}

.project-heading  .links a {
	display: inline-block;
    margin: 0 5px;
	width: 40px;
	height: 40px;
	display: grid;
	place-content: center;
	-webkit-box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%),
		0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%) !important;
	box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%),
		0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%) !important;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: 1px solid rgba(204, 204, 204, 0.478);
	border-radius: 50%;
	color: var(--cl-gray-dark);
	text-decoration: none;
}

div.project-heading .links a:hover {
	color: var(--cl-white);
	border: 1px solid var(--cl-primary);
	background: var(--cl-primary);
}



div.project-heading small {
    /* font-size: var(--fs-md); */
}

section.project-media{
    background: rgb(17, 17, 17);
    background: linear-gradient(to top, rgb(17, 17, 17), transparent)
    ;
}

section.project-media .project-video  {
    /* background: transparent; */
    padding: 10px;
    background: rgb(17, 17, 17);


}

section.project-media .project-video iframe {
    width: 100%;
    height: 400px;

}


/* slider */

div.slider {}

div.slider .slider-content-wrap {
    display: block;
}

div.slider .slider-content-wrap .slider-image-holder {
    position: relative;
    background: transparent;
    display: flex; 
    justify-content: center;
    height: 350px;
    overflow: hidden;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

div.slider .slider-content-wrap .slider-image-holder img {
    height: inherit;
    width: 100%;
}

.slider .slider-button {
    width: 70px;  
    height: 70px; 
    border: 1px solid rgba(204, 204, 204, 0.531); 
    border-radius: 50%; 
    margin: 0 7px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 50px;
    opacity: 0.7;
    color: var(--cl-gray);
    transition: all .5s ease-in-out;
}

.slider .slider-button:hover {
    border: .5px solid var(--cl-primary); 
    color: var(--cl-primary);
}

.swiper-pagination-bullet-active{
    background: var(--cl-primary) !important;
}