section#info {
	display: block;
    position: relative;
	background-image: url("../wp6392102-call-of-duty-modern-warfare-2020-hd-desktop-wallpapers\ \(1\).png");
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	color: #fff !important;
	height: 300px;
}
section#info > * {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}


section#info div.background {
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
    height: 100%;
  }

  section#info div.background {
	background-image: url("../wp6392102-call-of-duty-modern-warfare-2020-hd-desktop-wallpapers\ \(1\).png");
    background-attachment: fixed;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slide 05s 1s ease-in-out forwards infinite;
  }
	section#info div.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(60, 72, 88, 0.7);
    background-color: rgba(60, 72, 88, 0.771);
    background-color: rgba(60, 72, 88, 0.9);
    background-color: var(--cl-primary);
	opacity: .7;
  }
  

section#info .container {
	position: absolute;
	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	z-index: 10;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	
} 

section#info .container .head {
	width: 1200px;
}

.head {
	display: flex;
	align-items: center;
}

.head .icon {
    width: 200px;
    height: 200px;
	border: 3px solid rgba(255, 255, 255, 0.592);
	color: rgba(255, 255, 255, 0.949);
	border-radius: 50%;
	margin-right: .5em;
	display: flex;
	align-items: center;
	justify-content: center;
    font-size: 6em;

}


.head .info{}

.head .info .role{
	font-size: var(--fs-lg);
	font-weight: var(--fw-500);
}
.head .info div.flex{
	display: flex;
}
.head .info .company{
	font-size: var(--fs-md);
	font-weight: var(--fw-500);
	margin-right: 1em;

}
.head .info .time-range{
	font-size: var(--fs-md);
	font-weight: var(--fw-300);
}

@media screen and (max-width: 480px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}