<div
class="background"
id="unsplash-background"
style="background-image: url('/images/6.jpg')"
>
<div class="-eye-care-overlay"></div>
<div class="wrap">
    <!-- <span class="iconify" data-icon="fa-solid:home"></span> -->
    <!-- <span class="iconify" data-icon="fa-solid:home"></span> -->

    <div class="branding">
        <span
            class="iconify"
            data-icon="dashicons:admin-home"
            data-inline="false"
        ></span
        ><span
            class="iconify"
            data-icon="dashicons:admin-home"
            data-inline="false"
        ></span>
        <h2>Longbotton Dev</h2>
        <p>Copyright 2021 &copy; Personal Portfolio v.1.0</p>
    </div>
</div>
</div>