<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/hero.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/services.css" />
    <link rel="stylesheet" href="/css/experience.css" />
    <link rel="stylesheet" href="/css/fanfact.css" />
    <link rel="stylesheet" href="/css/workexpertise.css" />
    <link rel="stylesheet" href="/css/myworks.css" />
    <link rel="stylesheet" href="/css/clientsay.css" />
    <link rel="stylesheet" href="/css/blogs.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="stylesheet" href="/css/social.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <!-- Animation css -->
    <link
      rel="stylesheet"
      href="/css/animation/animation_override.css"
    />
  </head>
  <!-- BODY -->
  <body onresize="resizeMedia()">
    <header>
      <nav class="navbar navbar-collapsed bg-light">
        <div class="container">
          <div class="logo">Oluwaniyii</div>
          <button class="hamburger active" onclick="navbarCollapseToggle()">
            <i class="fas fa-bars font-600"></i>
          </button>

          <ul class="nav-links">
            <!-- <div class="container"> -->
            <li class="navlink active"><a href="#hero">me</a></li>
            <li class="navlink"><a href="#services">services</a></li>
            <li class="navlink"><a href="#experience">experience</a></li>
            <li class="navlink"><a href="#work-expertise">expertise</a></li>

            <li class="navlink"><a href="#my-works">projects</a></li>
            <li class="navlink"><a href="#blogs">blogs</a></li>
            <li class="navlink"><a href="#contact-me">contact</a></li>
            <!-- </div> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Hero Start -->
    <section id="hero">
      <div class="background" style="background-image: url('https://www.avidblogs.com/wp-content/uploads/2019/09/2019_WALLPAPERS_PRO_TOOLS-1.jpg');"></div>
      <div class="overlay"></div>
      <div class="container">
        <div class="content">
          <img class="image-dp" src="https://ik.imagekit.io/zzajmh3pzny/tempest-on-chistmas-cap.jpg" loading="lazy" alt="oluwaniyii" />
          <h1 class="heading text-white">Hi, I am Oluwaniyii Ayodele</h1>
          <h6 class="designation text-white">
            I'm a Passionate <span class="text-primary">Web Developer</span>
          </h6>
          <div class="hero-btn mb-2">
            <a href="#" class="btn btn-primary rounded text-white mr-2 mb-2"
              >Hire Me</a
            >
            <a href="#" class="btn btn-primary rounded mb-2">
              <span style="display: flex; align-items: center">
                Download CV
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="15"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-download fea icon-sm"
                    style="margin-left: 3px; vertical-align: center"
                  >
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                    <polyline points="7 10 12 15 17 10"></polyline>
                    <line x1="12" y1="15" x2="12" y2="3"></line>
                  </svg>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero End -->

    <!-- Main Start -->
    <main>
      <!-- Services Start -->
      <section id="about">
        <div class="container">
          <div class="card public-profile">
            <div class="card-body">
              <div class="personal-details">
                <div class="title">Personal Details</div>
                <div class="content">
                  <ul class="info">
                    <li>
                      <span>Email: </span>
                      ayodeleyniyii@gmail.com
                    </li>
                    <li>
                      <span>Languages: </span>
                      English, Yoruba
                    </li>
                    <li>
                      <span>Nationality: </span>
                      Nigerian
                    </li>
                  </ul>
                </div>
              </div>
              <div class="about-me">
                <div class="title text-lg text-dark">
                  I am a <span class="text-primary">Node JS</span> Developer
                </div>
                <div class="content">
                  Obviously I'm a Web Designer. Web Developer with over 3 years
                  of experience. Experienced with all stages of the development
                  cycle for dynamic web projects. The as opposed to using
                  'Content here, content here', making it look like readable
                  English.
                </div>
                <!-- signature -->
                <h1 class="signature">Oluwaniyii Ayodele</h1>
                <!-- signature -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Services End -->

      <!-- Services Start -->
      <section id="services">
        <div class="container">
          <div class="section-heading">
            <div class="title text-lg text-dark">Awesome Service</div>
            <div class="comment text-sm text-secondary">
              Obviously I'm a Web Designer. Experienced with all stages of the
              development cycle for dynamic web projects.
            </div>
          </div>

          <div id="service-widget-holder" class="section-body grid-board">
            <!--  -->
            <!-- <div class="card">
              <h2 class="service-icon text-lg">
                <i class="fas fa-desktop"></i>
              </h2>
              <div class="service-text">
                <h3 class="service-text-title text-dark">Web Development</h3>
                <div class="services-text-content text-sm text-secondary">
                  With lots of unique blocks, you can easily build a page
                  without coding.
                </div>
                <div class="service-link">
                  <a href="#" class=""> Read more </a>
                </div>
              </div>
            </div> -->
            <!--  -->
          </div>
        </div>f
      </section>
      <!-- Services End -->

      <!-- Work paticipation Start -->
      <section id="experience">
        <div class="container">
          <div class="section-heading f-left">
            <div class="title text-lg text-dark">Work Participation</div>
            <div class="comment text-sm text-secondary">
              Obviously I'm a Web Designer. Experienced with all stages of the
              development cycle for dynamic web projects.
            </div>
            <div class="link-button">
              <a href="#" class="btn btn-lg btn-primary mt-2">See More</a>
            </div>
          </div>

          <div class="section-body f-right">
            <div id="experience-widget-holder" class="timeline">
              <div class="timeline-slot">
                <a href="#timeline">
                  <div class="timeline-head">
                    <div class="timeline-icon text-primary">
                      <i class="fas fa-database"></i>
                    </div>
                    <div class="job-duration text-tiny font-700 text-primary">
                      2012 - 2015
                    </div>
                  </div>
                  <div class="timeline-body">
                    <div class="job-title text-md font-400">
                      Database Management
                    </div>
                    <div class="job-company text-tiny">
                      <span class="company"> Vivo </span>
                      <span class="position"> Data-Sceintist </span>
                    </div>
                    <div class="job-description text-secondary">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Autem rerum asperiores non, accusamus recusandae iste?
                    </div>
                  </div>
                </a>
              </div>

              <div class="timeline-slot">
                <a href="#timeline">
                  <div class="timeline-head">
                    <div class="timeline-icon text-primary">
                      <i class="fas fa-paper-plane"></i>
                    </div>
                    <div class="job-duration text-tiny font-700 text-primary">
                      2015 - 2019
                    </div>
                  </div>
                  <div class="timeline-body">
                    <div class="job-title text-md font-400">Web Developer</div>
                    <div class="job-company text-tiny">
                      <span class="company"> Oppo </span>
                      <span class="position"> HR-Manager </span>
                    </div>
                    <div class="job-description text-secondary">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Autem rerum asperiores non, accusamus recusandae iste?
                    </div>
                  </div>
                </a>
              </div>

              <div class="timeline-slot">
                <a href="#timeline">
                  <div class="timeline-head">
                    <div class="timeline-icon text-primary">
                      <i class="fas fa-users"></i>
                    </div>
                    <div class="job-duration text-tiny font-700 text-primary">
                      2020 - Currently
                    </div>
                  </div>
                  <div class="timeline-body">
                    <div class="job-title text-md font-400">
                      Network Testing & Security
                    </div>
                    <div class="job-company text-tiny">
                      <span class="company"> Vidly </span>
                      <span class="position"> Dev-Ops </span>
                    </div>
                    <div class="job-description text-secondary">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Autem rerum asperiores non, accusamus recusandae iste?
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Work paticipation End -->
      <!-- Fan fact Start -->
      <!-- <section id="fan-fact">
        <div class="container">
          <div class="cards-holder">
            <div class="card font-700">
              <h1 class="text-lg">15 M</h1>
              <h3 class="text-md">Download</h3>
            </div>
            <div class="card font-700">
              <h1 class="text-lg">97%</h1>
              <h3 class="text-md">Happy Client</h3>
            </div>
            <div class="card font-700">
              <h1 class="text-lg">3261 +</h1>
              <h3 class="text-md">Happy Users</h3>
            </div>
            <div class="card font-700">
              <h1 class="text-lg">2years +</h1>
              <h3 class="text-md">Years of freelancing</h3>
            </div>
          </div>
        </div>
      </section> -->
      <!-- Fan fact End -->
      <!-- Work Expertise Start -->
      <section id="work-expertise">
        <div class="container">
          <div class="holder">
            <div class="left">
              <div
                class="background-holder"
                style="background-image: url('/assets/images/skills.jpg')"
              ></div>
            </div>
            <div class="right">
              <div class="section-heading">
                <div class="title text-lg text-dark">Work Expertise</div>
                <div class="comment text-sm text-secondary">
                  Obviously I'm a Web Designer. Experienced with all stages of
                  the development cycle for dynamic web projects.
                </div>
              </div>

              <div id="expertise-widget-holder" class="skillsets">
                <!-- <div class="skill">
                  <img
                    class="skill-thumb"
                    id="bootstrap"
                    src="/assets/images/devicons/bootstrap.svg"
                    alt=""
                  />
                  <span class="skill-rating text-tiny text-primary font-600"
                    >75%</span
                  >
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Work Expertise End -->

      <!-- My works Start -->
      <section id="my-works">
        <div class="container">
          <div class="section-heading">
            <div class="title text-lg text-dark">My Recent Works</div>
            <div class="comment text-sm text-secondary">
              Obviously I'm a Web Designer. Experienced with all stages of the
              development cycle for dynamic web projects.
            </div>
          </div>
          
          <div id="project-widget-holder" class="portfolio-board">
            <div
              class="slot"
              style="background-image: url('/assets/images/portfolio/1.jpg')"
            >
              <div class="slot-content">
                <div class="icon">
                  <a href="#">
                    <i class="fas fa-eye"></i>
                  </a>
                </div>
                <div class="slot-name font-600">Iphone mockup</div>
                <div class="slot-category text-tiny">Branding</div>
              </div>
            </div>
            <div
              class="slot"
              style="background-image: url('/assets/images/portfolio/2.jpg')"
            >
              <div class="slot-content">
                <div class="icon">
                  <a href="#">
                    <i class="fas fa-eye"></i>
                  </a>
                </div>
                <div class="slot-name font-600">Iphone mockup</div>
                <div class="slot-category text-tiny">Branding</div>
              </div>
            </div>
            <div
              class="slot"
              style="background-image: url('/assets/images/portfolio/3.jpg')"
            >
              <div class="slot-content">
                <div class="icon">
                  <a href="#">
                    <i class="fas fa-eye"></i>
                  </a>
                </div>
                <div class="slot-name font-600">Iphone mockup</div>
                <div class="slot-category text-tiny">Branding</div>
              </div>
            </div>
            <div
              class="slot"
              style="background-image: url('/assets/images/portfolio/4.jpg')"
            >
              <div class="slot-content">
                <div class="icon">
                  <a href="#">
                    <i class="fas fa-eye"></i>
                  </a>
                </div>
                <div class="slot-name font-600">Iphone mockup</div>
                <div class="slot-category text-tiny">Branding</div>
              </div>
            </div>
            <div
              class="slot"
              style="background-image: url('/assets/images/portfolio/5.jpg')"
            >
              <div class="slot-content">
                <div class="icon">
                  <a href="#">
                    <i class="fas fa-eye"></i>
                  </a>
                </div>
                <div class="slot-name font-600">Iphone mockup</div>
                <div class="slot-category text-tiny">Branding</div>
              </div>
            </div>
            <div
              class="slot"
              style="background-image: url('/assets/images/portfolio/6.jpg')"
            >
              <div class="slot-content">
                <div class="icon">
                  <a href="#">
                    <i class="fas fa-eye"></i>
                  </a>
                </div>
                <div class="slot-name font-600">Iphone mockup</div>
                <div class="slot-category text-tiny">Branding</div>
              </div>
            </div>
          </div>
          <div class="see-more">
            <a href="#" class="btn btn-primary">See More </a>
          </div>
        </div>
      </section>
      <!-- My works End -->

      <!-- Client comments Start -->
      <!-- <section id="clients-say">
        <div class="container">
          <div class="section-heading">
            <div class="title text-lg text-dark">Clients Say</div>
            <div class="comment text-sm text-secondary">
              Obviously I'm a Web Designer. Experienced with all stages of the
              development cycle for dynamic web projects.
            </div>
          </div>
          <div class="comments carousel">
            <div class="carousel-container">
              <div class="carousel-slider">
                <div class="comment card">
                  <div class="comment-user-dp mb-1">
                    <img src="/assets/images/clients/01.jpg" alt="" />
                  </div>
                  <h2 class="font-700 text-dark text-md mb-">Jenny Wislon</h2>
                  <div class="designation font-100 text-dark text-tiny mb-1">
                    C.E.O Tech-Moto
                  </div>
                  <div class="comment-text text-tiny text-secondary">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form
                  </div>
                </div>
                <div class="comment card">
                  <div class="comment-user-dp mb-3">
                    <img src="/assets/images/clients/female-3.jpg" alt="" />
                  </div>
                  <h2 class="font-600 text-dark text-md mb-">Esther Howard</h2>
                  <div class="designation font-100 text-dark text-tiny mb-1">
                    C.E.O Tech-Moto
                  </div>
                  <div class="comment-text text-tiny text-secondary">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- Client comments End -->
      <!-- Blogs Start -->
      <section id="blogs">
        <div class="container">
          <div class="section-heading">
            <div class="title text-lg text-dark">Latest News & Blog</div>
            <div class="comment text-sm text-secondary">
              Obviously I'm a Web Designer. Experienced with all stages of the
              development cycle for dynamic web projects.
            </div>
          </div>
          <div id="blog-widget-holder" class="blogs-board">
            <!-- <div class="blog-card card">
              <div class="blog-image">
                <img src="/assets/images/blogs/1.jpg" alt="" />
              </div>
              <div class="blog-info">
                <div class="blog-title text-md font-600 mb-1">
                  <a href="#"> Design your apps in your own way </a>
                </div>
                <div class="blog-subtext text-secondary text-sm mb-1">
                  This is required when, for example, the final text is not yet
                  available.
                </div>
                <div class="blog-links text-tiny">
                  <a href="#" class="date"
                    ><i class="far fa-calendar-alt"></i> Dec 19</a
                  >
                  <a href="#" class="link">Read More</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <!-- Blogs End -->

      <!-- Contact me Start -->
      <section id="contact-me">
        <div class="container">
          <div class="section-heading">
            <div class="title text-lg text-dark">Contact Me</div>
            <div class="comment text-sm text-secondary">
              Obviously I'm a Web Designer. Experienced with all stages of the
              development cycle for dynamic web projects.
            </div>
          </div>

          <div class="contact">
            <div class="phone">
              <span class="icon font-600">
                <i class="fas fa-phone-alt"></i>
              </span>
              <span class="font-600 text-md text-dark mb-1">Phone</span>
              <span class="text-secondary">
                Promising development turmoil inclusive education transformative
                community
              </span>
              <span class="main copy-to-clipboard">+152 534-468-854 </span>
            </div>
            <div class="email">
              <span class="icon">
                <i class="far fa-envelope"></i>
              </span>
              <span class="font-600 text-md text-dark mb-1">Email</span>
              <span class="text-secondary">
                Phone Promising development turmoil inclusive education
                transformative community
              </span>
              <span class="main copy-to-clipboard">contact@example.com</span>
            </div>
            <div class="location">
              <span class="icon"> <i class="fas fa-map-marker-alt"></i> </span>
              <span class="font-600 text-md text-dark mb-1">Location</span>
              <span class="text-secondary">
                C/54 Northwest Freeway, Suite 558, Houston, USA 485
              </span>
              <span class="main copy-to-clipboard"> View on Google map </span>
            </div>
          </div>

          <div class="direct-mail">
            <form action="">
              <div class="row">
                <div class="left">
                  <input type="text" placeholder="Your Firstname :" />
                  <input type="text" placeholder="Your Email :" />
                  <input type="text" placeholder="Your Subject :" />
                </div>
                <div class="right">
                  <textarea
                    name=""
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="Your Message :"
                  ></textarea>
                </div>
              </div>
              <div class="submit">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- Contact me End -->
      <!-- Social Start -->
      <!-- <section id="social">
        <div class="section-heading">
          <h2 class="text-lg font-600 mb-1">Niyii</h2>
          <p class="text-dark mb-1">
            Obviously I'm a Web Designer. Experienced with all stages of the
            development cycle for dynamic web projects.
          </p>
        </div>
        <div class="links">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-vimeo-v"></i>
          </a>
          <a href="#">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </section> -->
      <!-- Social End -->
      <!-- <div class="back-to-top">to top</div> -->
    </main>
    <!-- Main End -->

    <!-- Theme picker Start -->
    <div id="theme-picker" class="">
      <button id="theme-picker-toggle">
        <i class="fas fa-cog icon"></i>
      </button>
      <div class="themes">
        <ul>
          <li class="theme">
            <span class="theme" id="blue" onclick="setTheme('#0d6efd')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="pink" onclick="setTheme('#e54b4b')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="green" onclick="setTheme('#01a479')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="teal" onclick="setTheme('#00758f')"></span>
          </li>
          <li class="theme">
            <span
              class="theme"
              id="yellow"
              onclick="setTheme('#eaa21d')"
            ></span>
          </li>
          <li class="theme">
            <span
              class="theme"
              id="indigo"
              onclick="setTheme('#280677')"
            ></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Theme picker End -->

    <!-- Back-to-top Start -->
    <a href="#hero" class="hidden" id="back-to-top">
      <i class="fas fa-arrow-up"></i>
    </a>
    <!-- Back-to-top End -->

    <!-- Footer Start -->
    <footer class="footer">© 2021 Queue. Design by Zoyothemes</footer>
    <!-- Footer End -->

    <!-- script -->
    <script>
      const baseurl = "<%=globals.app_home_url%>";
    </script>
    <script src="/js/util.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/scrollspy.js"></script>
    <script src="/js/back-to-top.js"></script>
    <script src="/js/theme-select.js"></script>
    <script src="/js/api.js"></script>
  </body>
</html>
