<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/hero.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/services.css" />
    <link rel="stylesheet" href="/css/experience.css" />
    <link rel="stylesheet" href="/css/fanfact.css" />
    <link rel="stylesheet" href="/css/workexpertise.css" />
    <link rel="stylesheet" href="/css/myworks.css" />
    <link rel="stylesheet" href="/css/clientsay.css" />
    <link rel="stylesheet" href="/css/blogs.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="stylesheet" href="/css/social.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/animation/animations.css" />
    <link rel="stylesheet" href="/css/animation/index-srinit.css" />
    <!-- Animation css -->
    <link
      rel="stylesheet"
      href="/css/animation/animation_override.css"
    />
  <script src="/js/lbt_scrollReveal.js"></script>
  <script src="/js/scrollreveal.js"></script>

  <!-- Global Variables -->
  <!-- const baseUrl = <%= globals.app_home_url %> -->

  </head>
  <!-- BODY -->
  <body onresize="resizeMedia()">
    <header>
      <nav class="navbar navbar-collapsed bg-light">
        <div class="container">
          <div class="logo">Oluwaniyii</div>
          <button class="hamburger active" onclick="navbarCollapseToggle()">
            <i class="fas fa-bars font-600"></i>
          </button>

          <ul class="nav-links">
            <!-- <div class="container"> -->
            <li class="navlink active"><a href="#hero">me</a></li>
            <li class="navlink"><a href="#services">services</a></li>
            <li class="navlink"><a href="#experience">experience</a></li>
            <li class="navlink"><a href="#work-expertise">expertise</a></li>

            <li class="navlink"><a href="#my-works">projects</a></li>
            <li class="navlink"><a href="#blogs">blogs</a></li>
            <li class="navlink"><a href="#contact-me">contact</a></li>
            <!-- </div> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Hero Start -->
    <section
      id="hero"
      style=""
    >
      <div class="background" style="background-image: url('https://ik.imagekit.io/zzajmh3pzny/portf/static-portfolio-ui/3909236_WAz7P5vai.png?ik-sdk-version=javascript-1.4.3&updatedAt=1652144429968');">
      </div>
      <div class="overlay"></div>
      <div class="container">
        <div class="content">
          <div id="profile-image" class="profile-image" style="background-image:url('https://ik.imagekit.io/zzajmh3pzny/static-ui-assests/portfolio-frontpage/call-of-duty-modern-warfare_lKGqZ4rw0.png?ik-sdk-version=javascript-1.4.3&updatedAt=1651426070940')">
          </div>
          <h1 class="heading text-white">Hi, I am Oluwaniyii Ayodele</h1>
          <h6 class="designation text-white">
            I'm a Passionate <span class="text-primary">Web Developer</span>
          </h6>
          <div class="hero-btn mb-2">
            <a href="#contact-me" class="btn btn-primary rounded text-white mr-2 mb-2"
              >Hire Me 
              <i class="fas fa-hand-peace"
              style="margin-left: 3px; vertical-align: center"
              ></i>
              </a>
            <!-- <a href="#contact-me" class="btn btn-primary rounded mb-2">
              <span style="display: flex; align-items: center">
                Download CV
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="15"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-download fea icon-sm"
                    style="margin-left: 3px; vertical-align: center"
                  >
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                    <polyline points="7 10 12 15 17 10"></polyline>
                    <line x1="12" y1="15" x2="12" y2="3"></line>
                  </svg>
                </span>
              </span>
            </a> -->
          </div>
        </div>
      </div>
    </section>
    <!-- Hero End -->

    <!-- Main Start -->
    <main>
      <!-- Services Start -->
      <section id="about">
        <div class="container">
          <div class="card public-profile">
            <div class="card-body">
              <div class="personal-details">
                <div class="title">Personal Details</div>
                <div class="content">
                  <ul class="info">
                    <li>
                      <span>Email: </span>
                      <span id="profile-email"> ayodeleyniyii@gmail.com</span>
                    </li>
                    <li>
                      <span>Github: </span>
                      <span id="profile-github">http://github.com/Oluwaniyii/</span>
                    </li>
                    <li>
                      <span>Languages: </span>
                      <span id="profile-languages"> English, Yoruba</span>
                    </li>
                    <!-- <li>
                      <span>Nationality: </span>
                      <span id="profile-nationality">Nigerian</span>
                    </li> -->
                  </ul>
                </div>
              </div>
              <div class="about-me">
                <div class="title text-lg text-dark">
                  I am a <span class="text-primary">Node JS</span> Developer
                </div>
                <div class="content">
                  With 3 years of experience in Node JS and PHP. I specialize in
                  designing and building robust api's for web, mobile and
                  desktop applications. I am currently open to remote fulltime
                  or partime jobs with an option to relocate.
                </div>
                <!-- signature -->
                <h1 class="signature">Oluwaniyii Ayodele</h1>
                <!-- signature -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Services End -->

      <!-- Services Start -->
      <section id="services">
        <div class="container">
          <div class="section-heading">
            <div class="title text-lg text-dark">Awesome Service</div>
            <div class="comment text-sm text-secondary">
              Below are list of services I render as an employee and independent freelancer
            </div>
          </div>

          <div id="service-widget-holder" class="section-body grid-board">
            <!-- <div class="card">
              <h2 class="service-icon text-lg">
                <i class="fas fa-desktop"></i>
              </h2>
              <div class="service-text">
                <h3 class="service-text-title text-dark">Web Development</h3>
                <div class="services-text-content text-sm text-secondary">
                  With lots of unique blocks, you can easily build a page
                  without coding.
                </div>
                <div class="service-link">
                  <a href="#" class=""> Read more </a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <!-- Services End -->

      <!-- Work paticipation Start -->
      <section id="experience">
        <div class="container">
          <div class="section-heading f-left">
            <div class="title text-lg text-dark">Work Participation</div>
            <div class="comment text-sm text-secondary">
              I'm happy to walk you through some of the exciting journeys I've
              embarked on as a software developer :)
            </div>
            <div class="link-button">
              <spam class="btn btn-primary mt-2">
                <i class="fa fa-arrow-right"></i>
              </span>
            </div>
          </div>

          <div id="experience-widget-holder" class="section-body f-right">
            <div class="timeline">
              <!-- <div class="timeline-slot">
                <a href="#timeline">
                  <div class="timeline-head">
                    <div class="timeline-icon text-primary">
                      <i class="fas fa-database"></i>
                    </div>
                    <div class="job-duration text-tiny font-700 text-primary">
                      2012 - 2015
                    </div>
                  </div>
                  <div class="timeline-body">
                    <div class="job-title text-md font-400">
                      Database Management
                    </div>
                    <div class="job-company text-tiny">
                      <span class="company"> Vivo </span>
                      <span class="position"> Data-Sceintist </span>
                    </div>
                    <div class="job-description text-secondary">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Autem rerum asperiores non, accusamus recusandae iste?
                    </div>
                  </div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </section>
      <!-- Work paticipation End -->
      <!-- Fan fact Start -->
      <section id="fan-fact">
        <div class="container">
          <div class="cards-holder">
            <div class="card font-700">
              <h1 class="text-lg">15 M</h1>
              <h3 class="text-md">Download</h3>
            </div>
            <div class="card font-700">
              <h1 class="text-lg">97%</h1>
              <h3 class="text-md">Happy Client</h3>
            </div>
            <div class="card font-700">
              <h1 class="text-lg">3261 +</h1>
              <h3 class="text-md">Happy Users</h3>
            </div>
            <div class="card font-700">
              <h1 class="text-lg">2years +</h1>
              <h3 class="text-md">Years of freelancing</h3>
            </div>
          </div>
        </div>
      </section>
      <!-- Fan fact End -->
      <!-- Work Expertise Start -->
      <section id="work-expertise">
        <div class="container">
          <div class="holder">
            <div class="left">
              <div
                class="background-holder"
                style="background-image: url('https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/vm6petunbtmfmoicyf52')
                "
              ></div>
            </div>
            <div class="right">
              <div class="section-heading">
                <div class="title text-lg text-dark">Work Expertise</div>
                <div class="comment text-sm text-secondary">
                 This are my top tier skills I use from time to time as an engineer
                </div>
              </div>
              <div id="expertise-widget-holder" class="skillsets">
                <!-- <div class="skill">
                  <img
                    class="skill-thumb"
                    id="bootstrap"
                    src="/images/devicons/bootstrap.svg"
                    alt=""
                  />
                  <span class="skill-rating text-tiny text-primary font-600"
                    >75%</span
                  >
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Work Expertise End -->

      <!-- My works Start -->
      <section id="my-works">
        <div class="container">
          <div class="section-heading">
            <div class="title text-lg text-dark">My Recent Works</div>
            <div class="comment text-sm text-secondary">
             Take insigthful look on interesting projects I've worked on. Challenges, solution and future plans
            </div>
          </div>
          <div id="project-widget-holder" class="portfolio-board">
            <!-- <div class="slot" style="background-image: url('/images/portfolio/1.jpg')">
              <div class="slot-content">
                <div class="icon">
                  <a href="#">
                    <i class="fas fa-eye"></i>
                  </a>
                </div>
                <div class="slot-name font-600">Iphone mockup</div>
                <div class="slot-category text-tiny">Branding</div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <!-- My works End -->

      <!-- Blogs Start -->
      <section id="blogs">
        <div class="container">
          <div class="section-heading">
            <div class="title text-lg text-dark">Latest News & Blog</div>
            <div class="comment text-sm text-secondary">
             Here are some of my insightful blogs on node and php related topic. Enjoy!
            </div>
          </div>
          <div id="blog-widget-holder" class="blogs-board">
            <!-- <div class="blog-card card">
              <div class="blog-image">
                <img src="/images/blogs/1.jpg" alt="" />
              </div>
              <div class="blog-info">
                <div class="blog-title text-md font-600 mb-1">
                  <a href="#"> Design your apps in your own way </a>
                </div>
                <div class="blog-subtext text-secondary text-sm mb-1">
                  This is required when, for example, the final text is not yet
                  available.
                </div>
                <div class="blog-links text-tiny">
                  <a href="#" class="date"
                    ><i class="far fa-calendar-alt"></i> Dec 19</a
                  >
                  <a href="#" class="link">Read More</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <!-- Blogs End -->
      
      <!-- Contact me Start -->
      <section id="contact-me">
        <div class="container">
          <div class="section-heading">
            <div class="title text-lg text-dark">Contact Me</div>
            <div class="comment text-sm text-secondary">
             Contact me for fulltime or partime jobs, freelancing or project collabration. I reply in a flash 
            </div>
          </div>

          <div class="contact">
            <div class="phone">
              <span class="icon font-600">
                <i class="fas fa-phone-alt"></i>
              </span>
              <span class="font-600 text-md text-dark mb-1">Phone</span>
              <span class="text-secondary">
               If its urgent, be sure to call or text me on whatsapp, I'm one text away :)
              </span>
              <span class="main copy-to-clipboard" role="button" onclick="clipText('+2347035100280')">+234-703-510-0280 </span>
            </div>
            <div class="email">
              <span class="icon">
                <i class="far fa-envelope"></i>
              </span>
              <span class="font-600 text-md text-dark mb-1">Email</span>
              <span class="text-secondary">
                I will check emails at my convenient time. Please use the mail if it's not urgent
              </span>
              <span class="main copy-to-clipboard" onclick="clipText('oluwaniyiiofficial@gmail.com')">oluwaniyiiofficial@gmail.com</span>
            </div>
          </div>

          <div class="direct-mail">
            <form action="">
              <div class="row">
                <div class="left">
                  <input type="text" id="mail-name" placeholder="Your Firstname :" />
                  <input type="text" id="mail-address" placeholder="Your Email :" />
                  <input type="text" id="mail-subject" placeholder="Your Subject :" />
                </div>
                <div class="right">
                  <textarea
                    name=""
                    id="mail-body"
                    cols="30"
                    rows="10"
                    placeholder="Your Message :"
                  ></textarea>
                </div>
              </div>
              <div class="submit">
                <button type="button" onclick="sendMail()" class="btn btn-primary">Send</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- Contact me End -->
      <!-- Social Start -->
      <section id="social">
        <div class="section-heading">
          <h2 class="text-lg font-600 mb-1">Niyii</h2>
          <p class="text-dark mb-1">
          Connect with me on any of these platforms and lets discuss :)
        </div>
        <div class="links">
          <a href="https://github.com/Oluwaniyii" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="htpps://linkedin.com/oluwaniyii-ayodele-43346221" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <!-- <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-vimeo-v"></i>
          </a>
          <a href="#">
            <i class="fab fa-google-plus-g"></i>
          </a>
          -->
        </div>
      </section>
      <!-- Social End -->
      <!-- <div class="back-to-top">to top</div> -->
    </main>
    <!-- Main End -->

    <!-- Theme picker Start -->
    <div id="theme-picker" class="">
      <button id="theme-picker-toggle">
        <i class="fas fa-cog icon"></i>
      </button>
      <div class="themes">
        <ul>
          <li class="theme">
            <span class="theme" id="blue" onclick="setTheme('#0d6efd')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="pink" onclick="setTheme('#e54b4b')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="green" onclick="setTheme('#01a479')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="teal" onclick="setTheme('#00758f')"></span>
          </li>
          <li class="theme">
            <span
              class="theme"
              id="yellow"
              onclick="setTheme('#eaa21d')"
            ></span>
          </li>
          <li class="theme">
            <span
              class="theme"
              id="indigo"
              onclick="setTheme('#280677')"
            ></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Theme picker End -->

    <!-- Back-to-top Start -->
    <a href="#hero" class="hidden" id="back-to-top">
      <i class="fas fa-arrow-up"></i>
    </a>
    <!-- Back-to-top End -->

    <!-- Footer Start -->
    <footer class="footer">© longbotton dev 2021. Design idea by <a href="https://themeforest.net/item/queue-personal-portfolio-resume-template/27561447" style="color:inherit;">Zoyothemes</a></footer>
    <!-- Footer End -->
  </body>
    <!-- script -->
    <script src="/js/util.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/scrollspy.js"></script>
    <script src="/js/back-to-top.js"></script>
    <script src="/js/theme-select.js"></script>
    <script src="/js/cliptotext.js"></script>
    <script src="/js/api.js"></script>
    <script src="/js/contact.js"></script>
</html>
