<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/project.css" />
    <!-- Animation css -->
    <link
      rel="stylesheet"
      href="/css/animation/animation_override.css"/>

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  </head>
  <!-- BODY -->
  <body onresize="resizeMedia()">
    <header>
      <nav class="navbar navbar-collapsed bg-light">
        <div class="container">
          <div class="logo">Project</div>
          <button class="hamburger active" onclick="navbarCollapseToggle()">
            <i class="fas fa-bars font-600"></i>
          </button>

          <ul class="nav-links">
            <!-- <div class="container"> -->
            <li class="navlink active"><a href="/">Home</a></li>
            <!-- </div> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Hero Start -->
   
    <!-- Hero End -->

    <!-- Main Start -->
     <main>
         <section class="project-hero" style="background-image: url('/assets/images/ironman.jpg');">
         </section>

         <!-- Slider main container -->
         <section>
            <div class="container">
                <div class="swiper slider">
                    <div class="swiper-wrapper slider-wrapper">

                        <div class="swiper-slide slider-content-wrap">
                            <div class="slider-image-holder" style="background-image: url('/assets/images/ironman.jpg');">
                                <img src="" alt=""> 
                            </div>
                        </div>
                        <div class="swiper-slide slider-content-wrap">
                            <div class="slider-image-holder" style="background-image: url('/assets/images/ironman.jpg');">
                                <img src="" alt=""> 
                            </div>
                        </div>
                        <div class="swiper-slide slider-content-wrap">
                            <div class="slider-image-holder" style="background-image: url('/assets/images/ironman.jpg');">
                                <img src="" alt=""> 
                            </div>
                        </div>
                    </div>

                    <!-- <div class="swiper-pagination"></div> -->

                    <div class="controls" style="margin-top:20px; display: flex; justify-content: center;">
                        <div class="swiper-prev slider-button left">
                            <i class="fal fa-arrow-left"></i>
                        </div>

                        <div class="swiper-next slider-button right" >
                            <i class="fal fa-arrow-right"></i>
                        </div>
                    </div>

                   
                </div>
            </div>
        </section>
        <!-- Slider main container-->

         <section class="project-info">
             <div class="container">
                 <div class="project-heading">
                     <div class="left">
                        <h1 class="project-title">
                            TempestFolio
                        </h1>
                        <small>
                           Node Js | 12-03-2021
                        </small>
                     </div>
                     <div class="right">
                         <div class="links" title="visit site">
                             <a href="#">
                                <i class="fab fa-globe"></i>
                             </a>

                             <a href="#"  title="view on github">
                                <i class="fab fa-github"></i>
                             </a>
                         </div>
                     </div>
                 </div>
                <div class="project-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, veritatis? Dolore nulla velit quidem tempore enim sint nobis dolorum, beatae, ex aut alias ipsam magnam, corporis ullam repudiandae provident. Mollitia optio excepturi hic. Ex, labore quo perferendis vitae non ipsam quas nostrum corporis molestias mollitia cum nihil, doloremque asperiores iste deleniti. Animi, odit. Ipsa aspernatur odit atque nam voluptatibus! Sit, sed obcaecati. Nihil sapiente, suscipit minima temporibus, nam fuga nisi similique possimus odit maxime repellendus fugiat porro rerum cumque. Non, pariatur consequuntur. Praesentium obcaecati possimus reprehenderit velit impedit dignissimos rerum eum porro quasi vitae. Facilis, possimus similique. Eveniet maxime esse autem deserunt suscipit. Minus ullam nobis suscipit reprehenderit saepe quibusdam ex voluptatibus omnis dignissimos? Facere culpa repellat impedit ipsam odio, ad error provident, similique iste mollitia libero qui voluptatem cum distinctio, minus voluptate suscipit dolores hic eum sint ducimus. Consequatur reiciendis, necessitatibus minima omnis voluptatem debitis autem, provident suscipit cumque nesciunt sint? Delectus repellendus corporis, excepturi fugiat velit assumenda enim voluptatem molestiae dolores animi blanditiis, amet, eligendi quam sapiente dignissimos laudantium totam ipsum natus deserunt consectetur. Obcaecati quaerat officiis ipsam itaque earum, suscipit, aut error reiciendis autem, in recusandae possimus exercitationem eius! Maiores adipisci aperiam iusto ut quis pariatur, numquam eos quod totam aliquam beatae et cupiditate similique a porro quibusdam ratione laborum dolorem repellendus amet consequuntur impedit accusantium. Eaque, unde adipisci voluptatibus obcaecati omnis corporis perferendis qui provident commodi, voluptatem id doloribus nesciunt numquam, placeat minima tempora reiciendis exercitationem suscipit modi eius et a fuga? Laborum iure beatae architecto officia voluptas, modi reprehenderit sint praesentium porro commodi quam fugit magni placeat nulla recusandae, nemo necessitatibus cum quaerat iste repellat distinctio, ullam impedit. Sunt nisi eaque quaerat corporis dicta cum non sequi animi error natus consectetur ad quisquam est nesciunt, deleniti quas officiis facilis eos! Excepturi distinctio doloribus ratione, fugit voluptatem quasi tempore ab accusamus, dolore ullam, minus nobis maiores ex. Beatae ducimus animi mollitia pariatur quasi sunt exercitationem fugit, quisquam laborum impedit eius unde deserunt aliquid voluptatem consectetur sint quaerat similique hic! Quidem, dolor commodi 
                    <br>
                    <br>
                    soluta enim architecto tempora ex sint perferendis magnam molestias sunt eligendi, est ea pariatur in vel deleniti officia inventore nobis accusantium fugit corporis. Officia animi dolore ab minima
                    voluptatem magni cumque nesciunt praesentium, ex possimus. Quaerat nam provident quia voluptas ullam optio totam ipsum possimus debitis temporibus perferendis accusantium corporis suscipit numquam sunt dignissimos quam repudiandae, dicta amet? Natus adipisci nesciunt nobis beatae excepturi?
                </div>
             </div>
         </section>

         <section class="project-media">  
             <div class="container">
                <div class="project-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5h8YbnKTBIw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                 </div>
             </div>
         </section>

     </main>
    <!-- Main End -->

    <!-- Theme picker Start -->
    <div id="theme-picker" class="">
      <button id="theme-picker-toggle">
        <i class="fas fa-cog icon"></i>
      </button>
      <div class="themes">
        <ul>
          <li class="theme">
            <span class="theme" id="blue" onclick="setTheme('#0d6efd')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="pink" onclick="setTheme('#e54b4b')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="green" onclick="setTheme('#01a479')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="teal" onclick="setTheme('#00758f')"></span>
          </li>
          <li class="theme">
            <span
              class="theme"
              id="yellow"
              onclick="setTheme('#eaa21d')"
            ></span>
          </li>
          <li class="theme">
            <span
              class="theme"
              id="indigo"
              onclick="setTheme('#280677')"
            ></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Theme picker End -->

    <!-- Back-to-top Start -->
    <a href="#hero" class="hidden" id="back-to-top">
      <i class="fas fa-arrow-up"></i>
    </a>
    <!-- Back-to-top End -->

     <!-- Footer Start -->
     <footer class="footer">© 2021 Queue. Design by Zoyothemes</footer>
     <!-- Footer End -->

    <!-- script -->
    <script src="/js/util.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/scrollspy.js"></script>
    <script src="/js/back-to-top.js"></script>
    <script src="/js/theme-select.js"></script>
    <script>

    const swiper = new Swiper('.swiper', {
        autoplay:{
            delay:2500,
            disableOnInteraction: false
        },
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },
        navigation: {
            nextEl: '.swiper-next',
            prevEl: '.swiper-prev',
        },

    
    });


    </script>
    
  </body>
</html>
