<h2>
    <%= globals.domain_name %>
</h2>
<!-- All projects table start -->
<div id="project-main-card" class="main-card mb-3 card" style="min-height: 419px;">
    <div class="card-header">
        Latest projects
        <div class="btn-actions-pane-right">
            <select id="table-entries" onchange="loadPage()">
              <option value="5">compact</option>
              <option value="10">extended</option>
            </select>

            <!-- <div role="group" class="btn-group-sm btn-group">
                <button class="active btn btn-focus">
                    All Projects
                </button>
                <button class="btn btn-focus">Visible</button>
                <button class="btn btn-focus">Hidden</button>
            </div> -->
        </div>
    </div>
   
    <div class="table-responsive">
        <table
            class="
                align-middle
                mb-0
                table table-borderless table-striped table-hover
            "
        >
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="text-center">Time</th>
                    <th class="text-center">Visibility</th>
                    <th class="text-center">views</th>
                    <th class="text-center">Repo</th>
                </tr>
            </thead>
            <tbody id="table-project-holder">
                <tr>
                    <td class="text-center text-muted font-weight-bold">
                        08/21
                    </td>
                    <td>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img
                                            width="40"
                                            class="rounded-circle"
                                            src="/assets/images/pp1.jpeg"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <div class="widget-content-left flex2">
                                    <div class="widget-heading">
                                        Buygames A gaming e-commerce website
                                    </div>
                                    <div class="widget-subheading opacity-7">
                                        PHP
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="badge badge-warning">Hidden</div>
                    </td>
                    <td class="text-center font-weight-bold text-primary">
                        397
                    </td>

                    <td class="text-center">
                        <button
                            type="button"
                            id="PopoverCustomT-1"
                            class="btn btn-primary btn-sm"
                        >
                            github
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="text-center text-muted font-weight-bold">
                        08/21
                    </td>
                    <td>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img
                                            width="40"
                                            class="rounded-circle"
                                            src="/assets/images/pp1.jpeg"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <div class="widget-content-left flex2">
                                    <div class="widget-heading">
                                        Buygames A gaming e-commerce website
                                    </div>
                                    <div class="widget-subheading opacity-7">
                                        PHP
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="badge badge-success">Visible</div>
                    </td>
                    <td class="text-center font-weight-bold text-primary">
                        0
                    </td>

                    <td class="text-center">
                        <button
                            type="button"
                            id="PopoverCustomT-1"
                            class="btn btn-primary btn-sm"
                        >
                            github
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-block text-center card-footer">
    </div>
</div>
<!-- pagination -->
<div class="col-lg-12">
    <nav class="" aria-label="Page navigation example">
      <ul class="pagination" id="pagination"></ul>
    </nav>
  </div>
<div style="display: block; height: 100px"></div>

<!-- Component Based Javascript -->
<script>
const globals = JSON.parse('<%- JSON.stringify(globals) %>');
const app_home_url = globals.app_home_url;


function loadPage(index=null, loadSingle=null){
    const projectMainCard = document.getElementById('project-main-card');
    const tableProjectHolder = document.getElementById('table-project-holder');
    const tableEntries = parseInt(document.getElementById('table-entries').value)
    tableProjectHolder.innerHTML = "";

    if(tableEntries === 5){projectMainCard.style.minHeight="419px"}
    else if(tableEntries === 10){projectMainCard.style.minHeight="719px"}
    
    const entries = tableEntries;
    let pageIndex = index || 1;

    const url = `${app_home_url}/api/project?entries=${entries}&page=${pageIndex}`;

    fetch(url)
    .then(response => response.json())
    .then(body=>{
        let data = body.data;
        let projects = body.data.chunk;

        // render pagination
        paginate(data);

        projects.forEach((project)=>{
            tableProjectHolder.innerHTML += renderTableProjectRow(project);
        })

        //auto load first project
        if(!loadSingle)
            loadProject(projects[0]['_id']);
        else 
            loadProject(loadSingle);
    })

    .catch(error => {
        console.error(error);
        tableProjectHolder.parentElement.innerHTML = "<p style='font-weight:bold; text-align:center;'>Could not fetch data at the moment</p>"
    });


}

function renderTableProjectRow(project){
    const {category, imageHero, date, description, tags, title, video, github, visibility, externalUrl, _id} = project;

    let visit = externalUrl || github || video;

    const elem = `
    <tr style="cursor:pointer" onclick="loadProject('${_id}')">
                    <td>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img
                                            width="40px"
                                            height="40px"
                                            class="rounded-circle"
                                            src="${imageHero.thumb}"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <div class="widget-content-left flex2">
                                    <div class="widget-heading">
                                        ${title}
                                    </div>
                                    <div class="widget-subheading opacity-7">
                                        ${category}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        ${(new Date(parseInt(date))).toLocaleDateString()}
                    </td>
                    <td class="text-center">
                        <span role="button" onclick="changeProjectVisibility('${_id}', ${!visibility})" class="badge ${visibility ? 'badge-success': 'badge-warning'}">
                            ${visibility ? "Visible" : "Hidden" }
                        </span>
                    </td>
                    <td class="text-center font-weight-bold text-primary">
                        0
                    </td>

                    <td class="text-center">
                        <a 
                            href="${visit}"
                            target="_blank"
                            id="PopoverCustomT-1"
                            class="btn btn-primary btn-sm"
                        >
                            Explore
                        </a>
                    </td>
                </tr>
    `;

    return elem;
}


function paginate(data) {
    let { entries, count, page } = data;
    const pages = Math.ceil(count / entries);

    const pagination = document.getElementById("pagination");
    const pageNextButton = `   <li class="page-item">
                    <span
                        role="button"
                        class="page-link page-link-next"
                        aria-label="Next"
                        id="pageNext"
                        onclick="getNextPage()"
                        style="background: #ffffff52;"
                        >
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                        </span>
                </li>`;

    const pagePrevButton = `  <li class="page-item">
                    <span
                        role="button"
                        class="page-link  page-link-prev"
                        aria-label="Prev"
                        id="pagePrev"
                        onclick="getPrevPage()"
                        style="background: #ffffff52;"

                   >
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </span>
                </li>`;

    pagination.innerHTML = "";
    pagination.innerHTML += pagePrevButton;

    let i = 1;
    for (; i <= pages; ) {
      let active = i === page ? true : false;
      let isFirst = i === 1 ? "page-link-page-first" : "";
      let isLast = i === pages ? "page-link-page-last" : "";

      pagination.innerHTML += `<li class="page-item ${active ? "active" : ""}">
                    <span role="button" class="page-link page-link-page ${
                      active ? "active" : ""
                    } ${isFirst} ${isLast}" pageindex="${i}"  active="${active}" onclick="loadPage(${i})" >${i}</a>
                </li>`;

      i++;
    }

    pagination.innerHTML += pageNextButton;
  }

  function getPrevPage() {
    const pageLinks = document.querySelectorAll(".page-item .page-link-page");
    const pageLinkFirst = document
      .querySelector(".page-item .page-link-page-first")
      .getAttribute("pageindex");

    pageLinks.forEach((pageLink) => {
      let active = pageLink.getAttribute("active");
      let pageIndex = parseInt(pageLink.getAttribute("pageindex"));

      if (active === "true") {
        let newPageIndex = pageIndex - 1;
        if (newPageIndex < parseInt(pageLinkFirst)) return;
        loadPage(newPageIndex);
        return;
      }
    });
    return;
  }

  function getNextPage() {
    const pageLinks = document.querySelectorAll(".page-item .page-link-page");
    const pageLinkLast = document
      .querySelector(".page-item .page-link-page-last")
      .getAttribute("pageindex");

    pageLinks.forEach((pageLink) => {
      let active = pageLink.getAttribute("active");
      let pageIndex = parseInt(pageLink.getAttribute("pageindex"));

      if (active === "true") {
        let newPageIndex = pageIndex + 1;
        if (newPageIndex > parseInt(pageLinkLast)) return;
        loadPage(newPageIndex);
        return;
      }
    });
    return;
  }

// actions
loadPage();




</script>