<div class="main-card mb-3 card">
    <div class="card-body" id="edit-project-widget-card">
        <div class="row">
            <div class="col-md-12">
                <!-- Head -->
                <h5
                style="
                    font-size: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                "
                >
                    <p class="font-weight-bold" style="margin-bottom: 5px" id="edit-project-title">
                        BuyGames
                    </p>
                    <small>
                        <div style="opacity: 0.7; margin-left: 0px">
                            <span
                                id="edit-project-category"
                                class="technology"
                                style="
                                    margin-right: 0px;
                                    font-size: 16px;
                                    vertical-align: middle;
                                "
                                >PHP</span
                            >
                            <span
                                class="dot"
                                style="
                                    display: inline-block;
                                    width: 5px;
                                    height: 5px;
                                    border-radius: 50%;
                                    background: lightseagreen;
                                    margin-left: 0px 3px;
                                "
                            ></span>
                            <span 
                            id="edit-project-visibility"
                            class="technology" style="font-size: 14px"
                                >Visible</span
                            >
                            <span id="edit-project-date" class="technology" style="font-size: 14px"
                                >08/21</span
                            >
                        </div>
                    </small>
                </h5>

                <!-- Hero Image -->
                <div
                    class="img-hero"
                    style="
                        max-height: 100%;
                        margin-bottom: 15px;
                    "
                >
                    <img
                        id="edit-project-hero-img"
                        style="height: 400px; width: auto; max-width: 100%"
                        src="/assets/images/5c4fe3b160c6248c37d9d987caeb7172.jpg"
                        alt=""
                    />
                </div>

                 <!-- medias -->
                <div class="" id="edit-project-media" style="margin-bottom: 30px;">
                </div>

                <!-- description -->
                <div
                style="
                    max-width: 100%;
                    border: 1px solid #cccccc40;
                    padding: 1rem;
                    margin-top: 10px;
                    font-size: 1rem;
                "
                >
                    <p  id="edit-project-description"
                        style="
                            margin-bottom: 0;
                            opacity: 0.9;
                            font-size: 15px;
                        "
                    >
                        Buygames is a gaming e-commerce website built using
                        PHP, Apache, AWS, Twilio and all. It uses paypal for
                        transactions, Keeps users preferences and
                        recommendations, Admin Control room for maintenance.
                        Still on maintenance and mouth watering features are
                        being added. A version built on Node is currently on
                        the development Stay connected with buygames by
                        hitting the "Keep me posted" button below Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit. Expedita
                        maxime maiores ex animi aut? Vero, architecto dolore
                        recusandae velit aperiam iusto ex, hic facere nulla
                        debitis in dolor aliquam quae!
                    </p>
                </div>

                <!-- links -->
                <div id="edit-project-links" class="links" style="margin-top: 10px">
                    <div style="opacity: 0.8">links</div>
                    <span
                        style="
                            display: inline-block;
                            padding: 10px;
                            border: 1px solid rgba(204, 204, 204, 0.172);
                            margin-bottom: 3px;
                        "
                    >
                        <span class="link-icon" style="margin-right: 5px">
                            <i
                                class="fa fa-fw"
                                aria-hidden="true"
                                title="Copy to use address-card"
                                ></i
                            >
                        </span>
                        <span>
                            <a
                                href="http://bit.ly"
                                style="text-decoration: underline"
                                >github.com/oluwaniyii/buygames</a
                            >
                        </span>
                    </span>
                    <span
                        style="
                            display: inline-block;
                            padding: 10px;
                            border: 1px solid rgba(204, 204, 204, 0.172);
                            margin-bottom: 3px;
                        "
                    >
                        <span class="link-icon" style="margin-right: 5px">
                            <i
                                class="fa fa-fw"
                                aria-hidden="true"
                                title="Copy to use address-card"
                                ></i
                            >
                        </span>
                        <span>
                            <a
                                href="http://bit.ly"
                                style="text-decoration: underline"
                                >github.com/oluwaniyii/buygames</a
                            >
                        </span>
                    </span>
                </div>
                <br />

                <!-- tags -->
                <div class="tags" id="edit-project-tags" style="font-size: 13px">
                    <div style="opacity: 0.8; font-size: 14px">tags</div>
                    <div
                        style="
                            padding: 10px;
                            border: 1px solid rgba(204, 204, 204, 0.172);
                        "
                    >
                        <span
                            style="display: inline-block; margin-right: 5px"
                        >
                            <span
                                class="dot"
                                style="
                                    display: inline-block;
                                    width: 7px;
                                    height: 7px;
                                    border-radius: 50%;
                                    background: rgba(132, 132, 132, 0.54);
                                "
                            ></span>
                            PHP
                        </span>
                    </div>
                </div>
                <br />

            </div>

        </div>
       
    </div>

    <div class="card-footer">
        <h4>
            <a href="/admin/project" title="all projects">
                <i class="fa fa-arrow-circle-left"></i>
                Back to all projects
            </a>
        </h4>
    </div>
</div>



<!-- Component Based Javascript -->
<script>
const globals = JSON.parse('<%- JSON.stringify(globals) %>');
const projectId = '<%= projectId %>';


function loadEditProject(projectId){
    const url = `${app_home_url}/api/project/${projectId}`;

    fetch(url)

    .then(response => response.json())

    .then(body=>{
        let project = body.data;
        renderSingleProject(project);
        loadProjectDataOnEditForm(project);
    })

    .catch(error=>{
        console.log(error)
        alert("could not load data at the moment")
    })
 }


 function renderSingleProject(project){

    //elements
    const projectCard = document.getElementById("edit-project-widget-card");
    const projectTitle = document.getElementById("edit-project-title");
    const projectCategory = document.getElementById("edit-project-category");
    const projectVisibility = document.getElementById("edit-project-visibility");
    const projectDate = document.getElementById("edit-project-date");
    const projectDescription = document.getElementById("edit-project-description");
    const projectHeroImage = document.getElementById("edit-project-hero-img");
    const projectMediaHolder = document.getElementById("edit-project-media");
    const projectLinksHolder = document.getElementById("edit-project-links");
    const projectTagsHolder = document.getElementById("edit-project-tags");
    const projectActionButtonsHolder = document.getElementById("edit-project-action-buttons");

    projectLinksHolder.innerHTML = "";

    if(!project) return projectCard.innerHTML = "<h3>Could not fetch data at the moment</h3>";


    const {_id, title, category, imageHero, date, description, tags, visibility, video, github, external_url} = project;

    //traverse
    projectTitle.innerHTML = title;
    projectCategory.innerHTML = category;
    projectVisibility.innerHTML = visibility ? "Visible" : "Hidden";
    projectDescription.innerHTML = parseCkescapedData(description);

    let projectDateObject = new Date(parseInt(date));
    let projectDateMin = projectDateObject.toLocaleString();

    projectDate.innerHTML = projectDateMin;



     //Medias

     //Hero Image
     projectHeroImage.setAttribute('src', imageHero.url);

     //Other medias
     projectMediaHolder.innerHTML = "";
     let projectMedia = project.imgs;

     
     for(var i=0; i<projectMedia.length; i++){
        projectMediaHolder.innerHTML += renderProjectMedia(projectMedia[i]);
     }

     //links
     let links = [video, github, external_url];

     for(var i=0; i<links.length; i++){
        //  console.log(Object.keys(links[i]));
        if(links[i]){
            projectLinksHolder.innerHTML += renderLinkElement(links[i], "github");
        }
     }

 }

 function loadProjectDataOnEditForm(project){
     const editTitle = document.getElementById("project-title");
     const editCategory = document.getElementById("project-category");
     const editDescription = document.getElementById("project-description");
     const editVideoLink = document.getElementById("project-video-link");
     const editGithubLink = document.getElementById("project-github-link");
     const editExternalUrl = document.getElementById("project-external-url");

    const {title, category, description, tags, video, github, externalUrl} = project;

     editTitle.value = title || "";
     editCategory.value = category || "";
     editVideoLink.value = video || "";
     editGithubLink.value = github || "";
     editExternalUrl.value = externalUrl || "";
     editDescription.innerHTML = description ? window.ckeditor.data.set(parseCkescapedData(description)) : "";

     // tags
     console.log("Tags");
     loadEditTags(tags);
 }

 function renderProjectMedia(media){
     const elem = `
     <a href="${media.url}" target="_blank" title="${media.original_name}" style="display:block; width:200px; margin-bottom:7px; border:4px solid #34566f70; border-radius:4px;">
        <img class="image-selector" src="${media.thumb}" style="width: 100%; height: auto">
     </a>
     `

    return elem;
 }

 function renderLinkElement(link, type){
    let linkIcon;

    switch(type){
        case "video" :
            linkIcon = "play-circle-o";
        break;

        case "github" :
            linkIcon = "fa-github";
        break;

        case "external_url" :
            linkIcon = "fa-globe";
        break;
    }

     const linkElement = `
            <span style="
                    display: inline-block;
                    padding: 10px;
                    border: 1px solid rgba(204, 204, 204, 0.172);
                    margin-bottom: 3px;
                    "
            >
                <span class="link-icon" style="margin-right: 5px">
                    <i class="fa ${linkIcon}" aria-hidden="true" title="${link}"></i>
                </span>
                <span>
                    <a href="${link}" style="text-decoration: underline">${link}</a>
                </span>
            </span>
     `;

     return linkElement;
 }


function loadEditTags(tagsOwned){
    const xhr  =  new XMLHttpRequest();
    xhr.open("GET", `${app_home_url}/api/tag/`);
    xhr.send();

    xhr.onload = function(){
        const responseData =JSON.parse(this.responseText);
        renderEditTags(responseData.data, tagsOwned)
    }
}

function renderEditTags(tags, tagsOwned){
    const tagsContainer = document.getElementById('tags-holder');
    tagsContainer.innerHTML = "";

    tags.forEach(tag => {
        let tagStatus = tagsOwned.includes(tag.name.toLocaleLowerCase());
        let active = tagsOwned.includes(tag.name.toLocaleLowerCase()) ? "active" : "";

        const newTagElement = `
        <span 
        class="tag ${active}"
        name="${tag.name}"
        key="${tag._id}"
        active="${tagStatus}"
        role="button"
        onclick="toggleActiveTag(this)"
          > 
        ${tag.name} 
        </span>`;

        tagsContainer.innerHTML += newTagElement;
    });
}

function toggleActiveTag(tagElem){
     const isActive = tagElem.getAttribute("active") === "true" ? true :  false ; 
     const flipActive = !isActive ; 
    tagElem.setAttribute("active", flipActive);
    if(flipActive) tagElem.className = "tag active";
    else tagElem.className = "tag";
}

function getActiveTags(){
    const tags = document.querySelectorAll("#tag-select-container span.active");

    const activeTags = [];
   

    Array.from(tags).forEach(tag=>{
        activeTags.push(tag.getAttribute("name").toLocaleLowerCase())
    })

    return activeTags;
}

function parseCkescapedData(data){
    let parseData = data.replace(/&lt;/g, '<');
    parseData = parseData.replace(/&gt;/g, '>');

    return parseData;
}

loadEditProject(projectId);

</script>