/* 
This stylesheet is to override original style of html elements
in order to conform with animations without affecting the original styling
*/

section#hero {
	position: relative;
}
section#hero div.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--cl-primary);
	background-image: url("../../wp6392102-call-of-duty-modern-warfare-2020-hd-desktop-wallpapers\ \(1\).png");
	background-attachment: fixed;
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
