<!-- Header -->
<%- include('../includes/header.ejs') %>

<div class="app-main__inner">
    <!-- titile -->
    <!-- titile -->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="metismenu-icon pe-7s-rocket icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    Edit Project
                    <div class="page-title-subheading">
                        This is an An Edit pro dashboard Where you can preview changes on the fly
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <button
                    type="button"
                    data-toggle="tooltip"
                    title="Example Tooltip"
                    data-placement="bottom"
                    class="btn-shadow mr-3 btn btn-dark"
                >
                    <i class="fa fa-star"></i>
                </button>
                <div class="d-inline-block dropdown">
                    <button
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        class="btn-shadow dropdown-toggle btn btn-info"
                    >
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-business-time fa-w-20"></i>
                        </span>
                        Buttons
                    </button>
                    <div
                        tabindex="-1"
                        role="menu"
                        aria-hidden="true"
                        class="dropdown-menu dropdown-menu-right"
                    >
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-inbox"></i>
                                    <span> Inbox </span>
                                    <div
                                        class="ml-auto badge badge-pill badge-secondary"
                                    >
                                        86
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-book"></i>
                                    <span> Book </span>
                                    <div class="ml-auto badge badge-pill badge-danger">
                                        5
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-picture"></i>
                                    <span> Picture </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    disabled
                                    href="javascript:void(0);"
                                    class="nav-link disabled"
                                >
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span> File Disabled </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <div class="row">
        <!--  -->
        <div class="col-md-8">
        
            <!-- Single project start -->
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5
                            style="
                                font-size: 1.5rem;
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                justify-content: space-between;
                            "
                        >
                            <p class="font-weight-bold" style="margin-bottom: 5px">
                                BuyGames
                            </p>
                            <small>
                                <div style="opacity: 0.7; margin-left: 0px">
                                    <span
                                        class="technology"
                                        style="
                                            margin-right: 0px;
                                            font-size: 16px;
                                            vertical-align: middle;
                                        "
                                        >PHP</span
                                    >
                                    <span
                                        class="dot"
                                        style="
                                            display: inline-block;
                                            width: 5px;
                                            height: 5px;
                                            border-radius: 50%;
                                            background: lightseagreen;
                                            margin-left: 0px 3px;
                                        "
                                    ></span>
                                    <span class="technology" style="font-size: 14px"
                                        >Visible</span
                                    >
                                    <span class="technology" style="font-size: 14px"
                                        >08/21</span
                                    >
                                </div>
                            </small>
                        </h5>

                        <div class="row">
                            <div class="col-sm-8">
                                <div
                                    class="img-hero"
                                    style="
                                        height: 300px;
                                        max-height: 100%;
                                        margin-bottom: 15px;
                                    "
                                >
                                    <img
                                        style="height: 100%; max-width: 100%"
                                        src="/assets/images/5c4fe3b160c6248c37d9d987caeb7172.jpg"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <!--  -->
                            <div class="col-sm-4">
                                <img
                                    class="image-selector"
                                    src="/assets/images/pp1.jpeg"
                                    role="button"
                                    onclick="javascript:void(0)"
                                    alt=""
                                    style="width: 100px; height: 100px"
                                />

                                <img
                                    class="image-selector"
                                    src="/assets/images/5c4fe3b160c6248c37d9d987caeb7172.jpg"
                                    role="button"
                                    onclick="javascript:void(0)"
                                    alt=""
                                    style="width: 100px; height: 100px"
                                />

                                <img
                                    class="image-selector"
                                    src="/assets/images/pp1.jpeg"
                                    role="button"
                                    onclick="javascript:void(0)"
                                    alt=""
                                    style="width: 100px; height: 100px"
                                />

                                <img
                                    class="image-selector"
                                    src="/assets/images/pp1.jpeg"
                                    role="button"
                                    onclick="javascript:void(0)"
                                    alt=""
                                    style="width: 100px; height: 100px"
                                />
                            </div>

                            <!--  -->
                        </div>

                        <div
                            style="
                                max-width: 100%;
                                border: 1px solid #cccccc40;
                                padding: 1rem;
                                margin-top: 10px;
                                font-size: 1rem;
                            "
                        >
                            <p
                                style="
                                    margin-bottom: 0;
                                    opacity: 0.9;
                                    font-size: 15px;
                                "
                            >
                                Buygames is a gaming e-commerce website built using
                                PHP, Apache, AWS, Twilio and all. It uses paypal for
                                transactions, Keeps users preferences and
                                recommendations, Admin Control room for maintenance.
                                Still on maintenance and mouth watering features are
                                being added. A version built on Node is currently on
                                the development Stay connected with buygames by
                                hitting the "Keep me posted" button below Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit. Expedita
                                maxime maiores ex animi aut? Vero, architecto dolore
                                recusandae velit aperiam iusto ex, hic facere nulla
                                debitis in dolor aliquam quae!
                            </p>
                        </div>

                        <div class="links" style="margin-top: 10px">
                            <div style="opacity: 0.8">links</div>
                            <span
                                style="
                                    display: inline-block;
                                    padding: 10px;
                                    border: 1px solid rgba(204, 204, 204, 0.172);
                                    margin-bottom: 3px;
                                "
                            >
                                <span class="link-icon" style="margin-right: 5px">
                                    <i
                                        class="fa fa-fw"
                                        aria-hidden="true"
                                        title="Copy to use address-card"
                                        ></i
                                    >
                                </span>
                                <span>
                                    <a
                                        href="http://bit.ly"
                                        style="text-decoration: underline"
                                        >github.com/oluwaniyii/buygames</a
                                    >
                                </span>
                            </span>
                            <span
                                style="
                                    display: inline-block;
                                    padding: 10px;
                                    border: 1px solid rgba(204, 204, 204, 0.172);
                                    margin-bottom: 3px;
                                "
                            >
                                <span class="link-icon" style="margin-right: 5px">
                                    <i
                                        class="fa fa-fw"
                                        aria-hidden="true"
                                        title="Copy to use address-card"
                                        ></i
                                    >
                                </span>
                                <span>
                                    <a
                                        href="http://bit.ly"
                                        style="text-decoration: underline"
                                        >github.com/oluwaniyii/buygames</a
                                    >
                                </span>
                            </span>
                        </div>
                        <br />
                        <div class="tags" style="font-size: 13px">
                            <div style="opacity: 0.8; font-size: 14px">tags</div>
                            <div
                                style="
                                    padding: 10px;
                                    border: 1px solid rgba(204, 204, 204, 0.172);
                                "
                            >
                                <span
                                    style="display: inline-block; margin-right: 5px"
                                >
                                    <span
                                        class="dot"
                                        style="
                                            display: inline-block;
                                            width: 7px;
                                            height: 7px;
                                            border-radius: 50%;
                                            background: rgba(132, 132, 132, 0.54);
                                        "
                                    ></span>
                                    PHP
                                </span>
                            </div>
                        </div>
                        <br />

                        <div class="links" style="margin-top: 10px">
                            <div style="opacity: 0.8">Contributors</div>

                            <div
                                style="
                                    margin-bottom: 10px;
                                    display: inline-block;
                                    padding: 10px;
                                    border: 1px solid rgba(204, 204, 204, 0.172);
                                    margin-bottom: 3px;
                                "
                            >
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img
                                                    width="40"
                                                    class="rounded-circle"
                                                    src="/assets/images/pp1.jpeg"
                                                    alt=""
                                                />
                                            </div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">
                                                Oluwaniyii Ayodele
                                            </div>
                                            <div class="widget-subheading opacity-7">
                                                CEO@longbottonDev
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                style="
                                    margin-bottom: 10px;
                                    margin-bottom: 10px;
                                    display: inline-block;
                                    padding: 10px;
                                    border: 1px solid rgba(204, 204, 204, 0.172);
                                    margin-bottom: 3px;
                                "
                            >
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img
                                                    width="40"
                                                    class="rounded-circle"
                                                    src="/assets/images/pp1.jpeg"
                                                    alt=""
                                                />
                                            </div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">Rufai Adeboye</div>
                                            <div class="widget-subheading opacity-7">
                                                Developer@FreelanceNIG
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="action-buttons" style="margin-top: 15px">
                            <span
                                style="
                                    display: inline-block;
                                    padding: 10px;
                                    border: 1px solid rgba(204, 204, 204, 0.431);
                                "
                            >
                                <i
                                    class="fa fa-fw"
                                    aria-hidden="true"
                                    title="Copy to use address-card"
                                    ></i
                                >
                            </span>
                            <span
                                style="
                                    display: inline-block;
                                    padding: 10px;
                                    border: 1px solid rgba(204, 204, 204, 0.431);
                                "
                            >
                                <i
                                    class="fa fa-fw"
                                    aria-hidden="true"
                                    title="Copy to use address-card"
                                    ></i
                                >
                            </span>
                            <span
                                style="
                                    display: inline-block;
                                    padding: 10px;
                                    border: 1px solid rgba(204, 204, 204, 0.431);
                                "
                            >
                                <i
                                    class="fa fa-fw"
                                    aria-hidden="true"
                                    title="Copy to use address-card"
                                    ></i
                                >
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single project end -->
        </div>
        <!-- All projects  table end -->
        <%- include('./components/add-project.ejs') %>
       
    </div>
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
</div>

<%- include('../includes/footer.ejs') %>
<!-- Footer -->

<!--  specific page addons -->
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<!--  specific page addons -->

<!-- Foot -->
<%- include('../includes/foot.ejs') %>
