<div class="col-md-12">
    <div class="main-card mb-3 pb-4 card">
        <div class="card-body">
            <div id="data-success" class="render row" style="display: none;">
                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/nodejs-icon.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >65%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/javascript-logo-svgrepo-com.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >65%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/html-svgrepo-com.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >65%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/icon css 3.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >65%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/mongodb.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >60%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem active block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/react.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >55%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/bootstrap.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >50%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/icon css 3.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >65%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/php-1-logo-svgrepo-com.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >65%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/laravel-1-logo-svgrepo-com.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >65%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/docker-svgrepo-com (1).svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >65%</span
                        >
                    </div>
                </span>

                <span class="expertise-elem d-inline-block m-2">
                    <div
                        class="
                            expertise-eleme-child
                            mb-2
                            mr-2
                            btn btn-secondary
                        "
                    >
                        <img
                            src="/assets/images/aws-svgrepo-com.svg"
                            alt=""
                            style="height: 50px"
                        />
                        <span class="badge badge-pill badge-light"
                            >65%</span
                        >
                    </div>
                </span>

                <!--  -->
            </div>
            
            <div id="no-data" class="render" style="display: none;">
                <h2 class="card-title" style="opacity: .65; text-align: center; vertical-align: middle;">
                    You have no skill yet
                    <br>
                    Start by adding a skill
                </h2>
            </div>

            <div id="load-error" class="render" style="display: none;">
                <h2 class="card-title" style="opacity: .65; text-align: center; vertical-align: middle;">
                    <span>
                        <i class="fa fa-fw" aria-hidden="true"></i>
                    </span>
                    Failed to load data
                </h2>
            </div>

            <div class="render">
                <h2 class="card-title" style="opacity: .65; text-align: center; vertical-align: middle;">
                    Hold on a sec sweetie
                </h2>
            </div>

        </div>
    </div>
</div>

<!-- Component Based Javascript -->
<script>
//  function loadExperiences(){
//     // const url = `http://localhost:3000/api/expertise/`;
//         const xhr  =  new XMLHttpRequest();
//         xhr.open("GET", url);
//         xhr.send();
    
//         xhr.onload = function(){
//             if(this.status >= 200 && this.status <= 399) {
//                 const responseData = JSON.parse(this.responseText);
//                 if(!responseData.status) return render("no-data");
//                 if(!responseData.data.length) return render("no-data");

//                 render("data-success");

//             }else{
//                 return  render("load-error");
//             }
//         }
//  }
 
//  loadExperiences();


//  function render(elementID){
//    const renders = document.querySelectorAll(".render");
//    renders.forEach(render=>{
//        if(render.id === elementID){
//            render.style.display = "block";
//        }else {
//         render.style.display = "none";
//        }
//    })
//    return ;
//  }


</script>
